!!! 5
%html
%head
  %title Inst
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag

%body
	%nav.navbar.navbar-inverse
		.container
			.navbar-brand = link_to "Inst", root_path

			- if user.signed_in? 
				%ul.nav.navbar-nav.navbar-left
					%li = link_to "Create new", new_post_path
					%li = link_to "Settings", edit_user_registration_path
					%li = link_to "Sign out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-left
					%li = link_to "Join", new_user_registration_path
					%li = link_to "Login", new_user_session_path

	.container
	  -flash.each do |name, msg|
	    =content_tag :div, msg, class: "alert alert-info"

	    = yield
